html{
	font-size:10px;
}
.white {
	color: #FFF;
}
#main #mainLeft #videoElement{
	height:70rem;
} 
#main #mainLeft #more{
	height:5rem;
} 
#main #mainRight #weather .weatherTitle{
	height:2rem;
}
#main #mainRight #weather .weatherItem{
	height:15rem;
} 
#main #mainRight #siChuanHot{
	height:22rem;
	overflow:hidden;
	background-size:cover!important;
	background-repeat:no-repeat!important;
}
#main #mainRight #scienceContent{
	height:36rem;
	overflow:hidden;
}